<%- include('includes/head.ejs') %>
</head>

<body >
	<header class="main-header" style="margin: 0;">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item">
					<h2>Clinica Odontologica</h2>
				</li>
				<li class="main-header__item">
					<a href="/">Menu</a>
				</li>
			</ul>
		</nav>
	</header>
	<img src="https://www.hostingplus.pe/wp-content/uploads/2020/12/error404quees.jpg" alt="Page Not Found!" style="height: 100%; width: 100%;">
	<%- include('includes/end.ejs') %>
