<%- include('includes/head.ejs') %>
</head>

<body>
	<header class="main-header">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item">
					<h2>Clinica Odontologica</h2>
				</li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link" style="font-size: 25px" href="/dentist"
					>Administracion Odontologos</a
				>
				<a class="nav-link" style="font-size: 25px" href="/patient"
					>Administracion Pacientes</a
				>
				<a class="nav-link" style="font-size: 25px" href="/turnos"
					>Administracion Turnos</a
				>
			</li>
		</ul>
		<!-- <hr />
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a
					class="nav-link"
					href="/logout"
					style="background-color: red; color: white"
					>Cerrar sesion</a
				>
			</li>
		</ul> -->
	</div>
<%- include('includes/end.ejs') %>
